.layout {
    height: 10.75em;
    border-radius: 1rem;
    padding: 1rem;
}

.linkLayout {
    text-decoration: none;
    color: var(--fg-color-1);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

::deep .expanderPosition {
    right: 0;
    left: auto;
}