.headerBgLayout {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerLayout {
    display: flex;
    gap: 1rem;
    min-height: 300px;
}

.icon {
    width: 175px;
    height: 175px;
}

.buttonsLayout {
    display: flex;
    gap: 1rem;
}

::deep .buttonsPadding {
    padding: 0.5rem 0.75rem;
}

@media (max-width: 640px) {
    .headerLayout {
        flex-direction: column;
    }

    .icon {
        width: 70%;
        height: 70%;
        align-self: center;
    }

    .buttonsLayout {
        flex-direction: column-reverse;
        align-items: start;
    }
}