main ::deep button {
    border-radius: 5px;
}

#about {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    width: 75%;
    height: 80%;
}

    #about > img {
        width: 150px;
        height: 150px;
        border-radius: 10px;
    }

#about-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-block-end: 20px;
}

#about-content {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

#about-content-name {
    margin: 0;
}

#about-content-owner {
    display: flex;
    gap: 5px;
    margin-block-end: 10px;
}

#about-content-description {
    flex: 1;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#about-content-buttons {
    flex-basis: 25%;
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

#episodes {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 75%;
    margin: auto;
}

#episodes-buttons {
    display: inline-flex;
    justify-content: space-between;
}

    #episodes-buttons > div {
        display: inline-flex;
        gap: 10px;
    }

    #episodes-buttons select {
        padding: 4px 10px;
        padding-right: 0px;
        border-radius: 5px;
    }

#episodes-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}