:root {
    --player-track-color: #f59630;
}

:root[data-theme="light"] {
    --fg-main: black;
    --fg-secondary: #797979;
    --bg-0: #e3e3e3;
    --bg-1: #d4d4d4;
    --bg-2: #c5c5c5;
    --bg-3: #b6b6b6;
    --bg-4: #a7a7a7;
    --nav-menu: #c5c5c5;
    --nav-menu-currentItem: #b6b6b6;
}

:root[data-theme="dark"] {
    --fg-main: #e6e6e6;
    --fg-secondary: #a5a4a4;
    --bg-0: #2e2e2e;
    --bg-1: #3d3d3d;
    --bg-2: #4c4c4c;
    --bg-3: #5b5b5b;
    --bg-4: #6a6a6a;
    --nav-menu: #151515;
    --nav-menu-currentItem: #252525;
}

.fg-main { color : var(--fg-main); }
.fg-secondary { color : var(--fg-secondary); }

.bg-0 { background-color: var(--bg-0); }
.bg-1 { background-color: var(--bg-1); }
.bg-2 { background-color: var(--bg-2); }

.bg-0.hoverable:hover { background-color: var(--bg-1); }
.bg-1.hoverable:hover { background-color: var(--bg-2); }
.bg-2.hoverable:hover { background-color: var(--bg-3); }

.bg-0.canBeActive:active { background-color: var(--bg-2); }
.bg-1.canBeActive:active { background-color: var(--bg-3); }
.bg-2.canBeActive:active { background-color: var(--bg-4); }

input::placeholder { color: var(--fg-secondary); }

.overflowOn5 {
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.overflowOn2 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.unclickable {
    pointer-events: none;
    filter: grayscale(1);
}

.clickable {
    pointer-events: auto;
}