:root {
    --sliderColor: #f59630;
}

:root[data-theme="light"] {
    --fg-main: black;
    --fg-secondary: #797979;
    --bg-0: #e3e3e3;
    --bg-1: #d4d4d4;
    --bg-2: #c5c5c5;
    --bg-3: #b6b6b6;
    --bg-4: #a7a7a7;
    --nav-menu: #c5c5c5;
    --nav-menu-currentItem: #b6b6b6;
}

:root[data-theme="dark"] {
    --fg-main: #e6e6e6;
    --fg-secondary: #a5a4a4;
    --bg-0: #2e2e2e;
    --bg-1: #3d3d3d;
    --bg-2: #4c4c4c;
    --bg-3: #5b5b5b;
    --bg-4: #6a6a6a;
    --nav-menu: #151515;
    --nav-menu-currentItem: #252525;
}



.fg-main { color : var(--fg-main); }
.fg-secondary { color : var(--fg-secondary); }

.bg-0 { background-color: var(--bg-0); }
.bg-1 { background-color: var(--bg-1); }
.bg-2 { background-color: var(--bg-2); }
.bg-3 { background-color: var(--bg-3); }

.bg-0.hoverable:hover { background-color: var(--bg-1); }
.bg-1.hoverable:hover { background-color: var(--bg-2); }
.bg-2.hoverable:hover { background-color: var(--bg-3); }
.bg-3.hoverable:hover { background-color: var(--bg-4); }

.bg-0:focus-visible {
    outline: none;
    background-color: var(--bg-0);
    box-shadow: 
        0 2px 4px rgb(0 0 0 / 0.12),
        0 0 2px rgb(0 0 0 / 0.15), 
        0 0 0 4px rgb(from var(--bg-1) r g b / 0.5);
}

.bg-1:focus-visible {
    outline: none;
    background-color: var(--bg-1);
    box-shadow: 
        0 2px 4px rgb(0 0 0 / 0.12),
        0 0 2px rgb(0 0 0 / 0.15), 
        0 0 0 4px rgb(from var(--bg-1) r g b / 0.75);
}

.bg-2:focus-visible {
    outline: none;
    background-color: var(--bg-2);
    box-shadow: 
        0 2px 4px rgb(0 0 0 / 0.12),
        0 0 2px rgb(0 0 0 / 0.15), 
        0 0 0 4px rgb(from var(--bg-2) r g b / 0.75);
}

.bg-3:focus-visible {
    outline: none;
    background-color: var(--bg-3);
    box-shadow: 
        0 2px 4px rgb(0 0 0 / 0.12),
        0 0 2px rgb(0 0 0 / 0.15), 
        0 0 0 4px rgb(from var(--bg-3) r g b / 0.75);
}

.fontSize-1 { font-size: 16px; }
.fontSize-2 { font-size: 18px; }
.fontSize-3 { font-size: 20px; }
.fontSize-4 { font-size: 22px; }
.fontSize-5 { font-size: 24px; }



.mainLayout {
    width: 100%;
    padding: 0 .75rem;
}

@media (min-width: 641px) {
    .mainLayout {
        width: 75%;
    }
}



button {
    border: none;
    color: inherit;
}

.btn {
    --bs-btn-active-border-color: transparent;
    --bs-btn-color: --var(--fg-main);
}


.pagination {
    --bs-pagination-bg: var(--bg-1);
    --bs-pagination-color: var(--fg-main);
    --bs-pagination-border-color: var(--bg-0);

    --bs-pagination-hover-bg: var(--bg-2);
    --bs-pagination-hover-color: var(--fg-main);
    --bs-pagination-hover-border-color: var(--bg-1);

    --bs-pagination-focus-bg: var(--bg-2);
    --bs-pagination-focus-color: var(--fg-main);
}


.overflowOn5 {
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.overflowOn2 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}



input::placeholder {
    color: var(--fg-secondary);
}

input[type="range"].slider {
    -webkit-appearance: none;
    height: 5px;
    z-index: 1;
    background-image: linear-gradient(var(--sliderColor), var(--sliderColor));
    background-size: 0% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

input[type="range"].slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: var(--sliderColor);
    height: 15px;
    width: 15px;
    z-index: 1;
    border-radius: 50%;
}

.sliderThumb::-webkit-slider-thumb { opacity: 0; }
.sliderThumb:hover::-webkit-slider-thumb { opacity: 1; }