#page {
    display: flex;    
}

#sidebar {
    background-color: var(--color-nav-menu);
    position: sticky;
    top: 0px;
    order: 0;
    width: 200px;
    min-width: 200px;
    height: 100vh;
}

@media (max-width: 640px) {
    #page {
        min-height: 100vh;
        flex-direction: column;
    }

    #sidebar {       
        height: 48px;
        width: 100%;
        bottom: 0;
        order: 1;
        z-index: 10;
    }
}