#navigation-menu {
    display: flex;
}

span {
    display: none;
}

::deep a {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border-radius: 5px;
    font-size: 1.05rem;
    color: inherit;
    text-decoration: none;
}

::deep .navigation-link { background-color: var(--nav-menu); }
::deep .navigation-link:hover, 
::deep .navigation-link.active { background-color: var(--nav-menu-currentItem); }

@media (min-width: 641px) {
    #navigation-menu {
        flex-direction: column;
        gap: 10px;
        height: 100%;
    }

    ::deep a {
        flex: 0 0 50px;
        margin: 0 10px;
        padding: 0 10px;
        gap: 10px;
        justify-content: flex-start;
    }

    ::deep a:first-child {
        margin-top: 1.25rem;
    }

    ::deep a:last-child {
        margin-top: auto;
        margin-bottom: 1.25rem;
    }

    span {
        display: inline;
    }
}