.navMenu {
    display: flex;
}

.navText {
    display: none;
}

::deep .navItem {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border-radius: 5px;
    font-size: 1.05rem;
    text-decoration: none;
    color: inherit;
}

::deep .navItemBg { background-color: var(--navMenu); }
::deep .navItemBg:hover, 
::deep .navItemBg.active { background-color: var(--nav-menu-currentItem); }
::deep .navItemBg:focus-visible { outline: 3px solid var(--bg-3); }

@media (min-width: 641px) {
    .navMenu {
        flex-direction: column;
        gap: 10px;
        padding: 1rem 0;
        height: 100%;
    }

    ::deep .navItem {
        flex: 0 0 50px;
        margin: 0 10px;
        padding: 0 10px;
        gap: 10px;
        justify-content: flex-start;
    }

    ::deep .account {
        margin-top: auto;
    }

    .navText {
        display: inline;
    }
}