.layout {
    width: 220px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.content {
    width: 70%;
    height: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.contentLogo {
    height: 70%;
}

.newEpisodesLayout {
    width: 24px;
    height: 24px;
    color: black;
    background-color: orange;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 640px) {
    .layout {
        width: calc(220px * 0.75);
        height: calc(240px * 0.75);
    }
}
