.layout {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    gap: 1.5rem;
}

.sectionLayout {
    margin-bottom: 2rem;
}

.sectionContent {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.settingLayout {
    display: flex;
    align-items: center;
}

.settingTitle { 
    width: 7.25rem; 
}

::deep .settingComboBox { 
    width: 7.25rem;
    justify-content: space-between;
}

::deep .dialogLayout {
    width: 18rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.dialogButtonLayout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}