.layout {
    height: 100%;
}

::deep .formLayout {
    width: 20rem;
    min-height: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 640px) {
    .layout {
        height: calc(100vh - 48px);
    }
}