main {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: auto;
    bottom: 0px;
    position: sticky;
    min-width: 100%;
    height: 80px;
    z-index: 1;
    order: 3;
}

#controls {
    display: flex;
    align-items: center;
    width: 95%;
    gap: 5px;
}

::deep .button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

#play-button {
    height: 50px;
    width: 50px;
    background-size: 90%;
}

#volume-button {
    background-size: 70%;
}

#duration {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 160px;
}

input[type="range"] {
    -webkit-appearance: none;
    height: 5px;
    border-radius: 10px;
    background-image: linear-gradient(var(--player-track-color), var(--player-track-color));
    background-size: 0% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        background-color: var(--player-track-color);
        height: 15px;
        width: 15px;
        border-radius: 50%;
    }


#duration-slider {
    flex: 1;
}

::deep .speed-button {
    background-image: url('../../Controls/AudioPlayer/PlaybackSpeed.png');
}

::deep .speed-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 150px;
    width: 75px;
    position: absolute;
    right: 20px;
    bottom: 100px;
    border: none;
}

    ::deep .speed-panel > button:last-child {
        border-end-start-radius: 10px;
        border-end-end-radius: 10px;
    }

    ::deep .speed-panel > button:first-child {
        border-start-start-radius: 10px;
        border-start-end-radius: 10px;
    }