::deep .playSpeed-dropDown {
    width: auto !important;
}

div[data-CanPlay="True"] {
    pointer-events: auto; 
}

div[data-CanPlay="False"] {
    pointer-events: none; 
    filter: grayscale(1);
}

.playerLayout {
    position: sticky;
    width: 100%;
    height: 70px;
    bottom: 10vh;
    margin-top: auto;
    z-index: 1;
    order: 3;
}

@media (min-width: 641px) {
    .playerLayout {
        bottom: 0;
    }
}