input[type="range"] {
    -webkit-appearance: none;
    height: 5px;
    border-radius: 10px;
    background-image: linear-gradient(var(--player-track-color), var(--player-track-color));
    background-size: 0% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        background-color: var(--player-track-color);
        height: 15px;
        width: 15px;
        border-radius: 50%;
    }

::deep .playSpeed-dropDown {
    width: auto !important;
}