#video-player {    
    max-width: 1280px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: black;
}

#video-player:hover #controls {
    opacity: 1;
}

video {
    width: 100%;
    aspect-ratio: 16/9;
}

video:focus {
    outline: none;
}

#controls {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;    
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
}

#controls-buttons {
    background-color: rgba(0, 0, 0, 80%);
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 0.5rem;
}

::deep .controlButton { 
    background-color: transparent; 
}

::deep .controlButton:hover { 
    background-color: var(--sliderColor); 
}

::deep .speedDropDown {
    width: auto !important;
}

#durationSlider {
    height: 5px;
}

#volumeSlider {
    width: 100px;
    height: 5px;
}

#duraionPanel {
    padding: 0 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    color: white;
}

.fullscreenButton { 
    width: 32px;
    height: 32px;
    background-image: url("/Controls/VideoPlayer/Expand.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

#video-player:fullscreen .fullscreenButton {
    background-image: url("/Controls/VideoPlayer/Collapse.svg");
}

@media (max-width: 640px) {
    /*#controls {
        opacity: 1;
    }*/

    #volumeSlider {
        width: 75px;
    }

    .rewindButton, #duraionPanel {
        display: none;
    }
}