.layout {
    height: 5.25em;
    display: flex;
    align-items: center;
    gap: 0.375rem;
    color: var(--fg-color-1);
    text-decoration: none;
}

.icon {
    width: 5.25em;
    height: 5.25em;
}

.description {
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    margin-right: 0.5rem;
}

.descriptionHeader {
    display: grid;
    grid-template-columns: 1fr auto;
    font-size: var(--fs-r1);
}