.layout {
    height: 5.75em;
    padding-right: 1rem;
    text-decoration: none;
    color: var(--fg-color-1);
    display: grid;
    grid-template-columns: 5.75em 1fr auto;
    gap: 0.75rem;
    align-items: center;
}

.icon {
    width: 5.75em;
    height: 5.75em;
}

.description {
    display: grid;
    grid-template-rows: repeat(3, 1rf);
}