main {
    margin: 10px;
}

#new-episodes-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
    margin: 20px 0;
}
